In [112]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline,make_pipeline

In [113]:
df = pd.read_csv("/Users/bhikipallai/Desktop/Projects/Machine_Learning_Projects/data/raw/kaggle_diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0

In [114]:
import pandas as pd

file_path = "data/raw/kaggle_diabetes.csv"

try:
    df = pd.read_csv(file_path)
    print(df.head(2))
except FileNotFoundError:
    print(f"File '{file_path}' not found.")

File 'data/raw/kaggle_diabetes.csv' not found.

# Lets make a pipeline for standardizing the data

In [115]:
from sklearn.preprocessing import StandardScaler

In [116]:
X = df.drop(columns='Outcome',axis=1)
y = df['Outcome']

In [117]:
X.shape,y.shape

((2000, 8), (2000,))

In [67]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# Assuming 'X' and 'y' are already defined
# Define the steps of the pipeline
pipeline = Pipeline(steps=[
    ('scaler', StandardScaler())  # StandardScaler is used as an example step
])

In [130]:
X.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47
1,0,84,82,31,125,38.2,0.233,23

In [69]:
from sklearn.compose import ColumnTransformer

In [70]:
p1 = ColumnTransformer([('cols',pipeline,X.columns)])

In [131]:
X = p1.fit_transform(X)

In [132]:
X[0]

array([-0.5153943 ,  0.52455322, -0.37248123,  0.87364499, -0.72201552,
        0.17268332, -1.06324616,  1.18042417])

In [133]:
X = pd.DataFrame(X)

In [134]:
X.head(2)

,0,1,2,3,4,5,6,7
0,-0.515394,0.524553,-0.372481,0.873645,-0.722016,0.172683,-1.063246,1.180424
1,-1.120495,-1.159756,0.670080,0.625186,0.402563,0.737249,-0.735551,-0.856326

In [135]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

def transform_data(X):
    pipeline = Pipeline(steps=[
    ('scaler', StandardScaler())])
    p1 = ColumnTransformer([('cols',pipeline,X.columns)])
    X = p1.fit_transform(X)
    print(X[0])
    X = pd.DataFrame(X)
    return X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47

In [136]:
transform_data(X)

[-0.5153943   0.52455322 -0.37248123  0.87364499 -0.72201552  0.17268332
 -1.06324616  1.18042417]

,0,1,2,3,4,5,6,7
0,-0.515394,0.524553,-0.372481,0.873645,-0.722016,0.172683,-1.063246,1.180424
1,-1.120495,-1.159756,0.670080,0.625186,0.402563,0.737249,-0.735551,-0.856326
2,-1.120495,0.742890,-3.604422,-1.300374,-0.722016,1.473638,0.491759,-0.177409
3,-1.120495,0.430980,-0.059713,1.308449,1.527142,1.240448,-0.327478,-0.771462
4,-0.817945,0.555744,-0.372481,1.246334,3.596367,1.044077,0.201161,-1.026055
...,...,...,...,...,...,...,...,...
1995,-0.515394,-1.440474,-0.268225,0.190382,-0.227201,-0.305970,-0.312021,-0.007680
1996,1.299907,1.803381,0.148800,1.308449,0.447546,0.062225,0.766899,0.246914
1997,0.694807,-1.128565,0.461568,-1.300374,-0.722016,-0.121872,-0.274924,0.756101
1998,-1.120495,0.243835,2.129667,1.556908,0.447546,4.284191,-0.469686,-0.601732
1999,-0.515394,-1.253329,0.148800,-0.368651,-0.038272,-0.256877,0.235167,-0.686597

In [137]:
import pickle
model = pickle.load(open("/Users/bhikipallai/Desktop/Projects/Machine_Learning_Projects/saved_models/ann_model.h5","rb"))

In [157]:
data_array = [[2,138,62,35,0,33.6,0.127,47	]]
data = pd.DataFrame(data_array,columns=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'])
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47

In [160]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

def transform_data(X):
    pipeline = Pipeline(steps=[
    ('scaler', StandardScaler())])
    p1 = ColumnTransformer([('cols',pipeline,['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'])])
    X = p1.fit_transform(X)
    type(X)
    print(X[0])
    X = pd.DataFrame(X)
    type(X)
    return X

In [161]:
transform_data(data)

[0. 0. 0. 0. 0. 0. 0. 0.]

     0    1    2    3    4    5    6    7
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0